
.App-main {
    padding-bottom: 10px;
    background: #252525;
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "sidebar content";
    grid-template-rows: 1fr;
    grid-template-columns: 320px 1fr;
}

.App-content {
    padding: 10px;
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "header"
    "navDays"
    "chart";
    grid-template-rows: 40px 36px 1fr;
}

.App-sidebar {
  padding: 50px 10px 10px 10px;
  grid-area: sidebar;
}

.search {
  margin-bottom: 15px;
  text-align: center;
}

.search input {
  display: block;
  width: 100%;
  text-align: center;
  background: aquamarine;
  color: #252525;
  font-weight: bold;
  height: 24px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0px 10px;
}