.App-header {
    position: relative;
    padding: 0 15px 0 15px;
    background: #252525;
    color: aquamarine;
    grid-area: header;
  }

.header {
  position: absolute;
  line-height: 70px;
  font-size: 32px;
  font-weight: bold;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}