.App-header {
    position: relative;
    padding: 0 15px;
    grid-area: header;
  }

.header {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

@media (max-width: 960px) {
  .header {    
    font-size: 24px;
  } 
}

@media (max-width: 720px) {
  .header {
    left: 0;
    text-align: center;
  }
}