.chart {
    padding: 0 10px;
    grid-area: chart;
}

.chart canvas {
    max-width: 100%;
}

/* @media (max-width: 720px) {
    .chart .chartjs-render-monitor {
        height: auto !important;
    }    
} */