.cities a {
    text-decoration: none;
    display: block;
}

.cities ul {
    list-style: none;
}

@media (max-width: 720px) {
    .cities ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cities ul li {
        margin: 0 5px;
    }
  }