* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background: #252525;
  color: aquamarine;
  display: grid;
  grid-template-areas: 
  "header"
  "main";
  grid-template-rows: 70px 1fr;
}

@media (max-width: 960px) {
  .App {
    grid-template-rows: 55px 1fr;  
  }
}

@media (max-width: 720px) {
  .App {
    max-height: 100vh;
  }
}