* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "header header header header header"
  "sidebar main main main main";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 350px;
}

.App-header {
  background: orange;
  grid-area: header;
}

.App-sidebar {
  /* padding: 15px; */
  background: olivedrab;
  grid-area: sidebar;
}

.App-main {
  background: lightcoral;
  grid-area: main;
}