* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  /* background: #252525;
  color: aquamarine; */
  display: grid;
  grid-template-areas: 
  "header"
  "main";
  grid-template-rows: 100px 1fr;
  /* grid-template-columns: 1fr 150px; */
}