.App-content {
    padding: 10px;
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "header navDays"
    "chart chart"
    "footer footer";
    grid-template-rows: 36px 2fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.header-content {
    padding: 0px 15px;
    grid-area: header;
}

.header-content span {
    font-size: 24px;
}

@media (max-width: 1140px) {
    .App-content {
        padding-left: 0px;
        grid-template-areas: 
        "header header"
        "navDays navDays"
        "chart chart"
        "footer footer";
        grid-template-rows: 36px 36px 1fr 1fr;
        grid-template-columns: 5fr 1fr;
    }    
}

@media (max-width: 960px) {
    .header-content span {
        font-size: 18px;
    } 
}

@media (max-width: 720px) {
    .App-content {
        padding-top: 0;
        grid-template-areas: 
        "header"
        "navDays"
        "chart";
        grid-template-rows: 26px 36px 1fr;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .header-content span {
        font-size: 14px;
    }
}