
.header-content {
    padding: 0px 15px;
    color: aquamarine;
    grid-area: header;
}

.header-content span {
    font-size: 24px;
}

.chart {
    grid-area: chart;
}

.chart canvas {
    max-width: 100%;
}

.footer {
    grid-area: footer;
}