.nav-days {
    padding: 0 5px;
    font-size: 14px;
}

.nav-days a {
    text-decoration: none;
    display: block;
}

.nav-days ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1140px) {
    .nav-days {
        margin: 4px 0;
    }

    .nav-days ul {
        justify-content: flex-start;
    }
}

@media (max-width: 960px) {
    .nav-days {        
        font-size: 12px;
    } 
}